<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fandom Finds</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EcommerceStore.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
</head>
@{
            var controller = ViewContext.RouteData.Values["controller"]?.ToString() ?? "Home";
            var action = ViewContext.RouteData.Values["action"]?.ToString() ?? "Index";
            var area = ViewContext.RouteData.Values["area"]?.ToString() ?? "";
}
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-secondary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-white @(controller == "Home" && action == "Index" ? "active" : "")"  asp-area="" asp-controller="Home" asp-action="Index">Fandom Finds</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                       @*  <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Sell" asp-action="Index">Sell</a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link text-white @(controller == "Orders" && action == "Index" ? "active" : "")"  asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white @(controller == "Orders" && action == "Shopping" ? "active" : "")"  asp-area="" asp-controller="Orders" asp-action="Shopping">Go Shopping</a>
                        </li>

                        <li class="nav-item me-auto">
                            <a class="nav-link text-white @(area == "Admin" ? "active" : "")"
                               asp-area="Admin"
                               asp-controller="Home"
                               asp-action="Index">Admin</a>
                        </li>

                    </ul>
                    <img class="img fluid logo" src="~/images/thedeltarune.jpg" alt="Site Logo" />
                </div>
            </div>
            <partial name="_LoginPartial" />
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Fandom Finds - <a asp-area="" asp-controller="Home" asp-action="Index"></a>
        </div>
    </footer>
   
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>




