@model FandomFinds.Models.Order

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-white">Delete</h1>

<h3 class="text-white">Are you sure you want to delete this?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "text-white col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "text-white col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "text-white col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class = "text-white col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "text-white col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
